<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ABUDAWOOD.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>C206C8E01D9CE68B00FA4092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C206C8F71D9CE68C00FA4092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C206C9021D9CE68C00FA4092</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
